# Build артефакты
/build/
/build-*/
/bin/
/lib/

# Объектники и бинарники
*.o
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out

# Компиляторские временные файлы
*.d
*.gcda
*.gcno

# IDE
/.vscode/
/.obsidian/
/.idea/
*.swp
*.swo
/.DS_Store

# CMake-специфичное
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
_deps/